Pandas:Python Dünyasının Exceli Ödev6

In [1]:
#soru1
import numpy as np
import pandas as pd
#İlk 10 fibonacci sayısını üretir
fibo=[]
for x in range(0,10):
    if x==0:
        fibo.append(1)
    elif x==1:
        fibo.append(x)
    else:
        fibo.insert(x,fibo[x-1]+fibo[x-2])
#belirlenen aralıktaki asal sayıları veriyor biz ilk 10unu alıyoruz       
asal=[]                
sayac=0
for i in range (1, 50):
    for j in range(1, i+1):
        if i%j == 0 :
            sayac+= 1
    if sayac==2:
        asal.append(i)
    sayac=0
    
alfa=np.array(['a','b','c','d','e','f','g','h','i','j'])
#veri cercevesini olusturuyoruz
df = pd.DataFrame({
                   'asallar': asal[0:10] ,
                   'fibonacciler' : fibo
                  })
df.index=alfa
df

   asallar  fibonacciler
a        2             1
b        3             1
c        5             2
d        7             3
e       11             5
f       13             8
g       17            13
h       19            21
i       23            34
j       29            55

In [2]:
#soru2
import numpy as np
import pandas as pd

df=pd.read_csv('train.csv')
df
#verideki insanların cinsiyetlere göre yas ortalaması
df.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [4]:
#soru3
import numpy as np
import pandas as pd

df=pd.read_csv('train.csv')
df
#30 yas altı insanların yasama oranı
yasama_orani=df[df['Age']<30].sum()['Survived']/df[df['Age']<30].count()['Survived']
print(yasama_orani,"\n\n\n")
#30 yas altı insanların cinsiyetlere göre yasama oranı
cinsiyet_yasam_orani=df[df['Age']<30].groupby(by='Sex').mean()['Survived']
print(cinsiyet_yasam_orani)

0.40625



Sex
female    0.714286
male      0.215190
Name: Survived, dtype: float64